<div class="logInPage">
<%- include('head'); -%>

<div class="LogInForms">
      <form action="/" method="post">

        <h1 class="SignIn">Sign In</h1>
    
        <div class="form-floating Input">
          <input type="Email" class="form-control"  placeholder="name@example.com" name="Email" required>
          <label for="floatingInput">Email</label>
        </div>


        <div class="form-floating Input">
          <input type="password" class="form-control" placeholder="Password" name="Password" required >
          <label for="floatingPassword">Password</label>
        </div>

    
        <div class="checkbox mb-3" style="margin: 2% 0 0 0;">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <div>
        <button class="w-100 btn btn-lg btn-primary btn-dark" type="submit" >Sign In</button>
      </div>

      </form>


      <p class="errorMessage"><%=ErrorMessage%></p>

  
      <div>
        <label for="" class="SignUp">Don"t have an account? <a href="/signup"><b>Sign Up for free</b></a></label>
      </div>
  </div>
  

  </div>


 

  

        

<%- include('footer'); -%>
          
</div>

