<%- include('head'); -%>
    <form action="/signup" method="post">

            <h1 class="SignIn">Sign Up</h1>
        
            <div class="form-floating Input">
              <input type="Email" class="form-control email"  placeholder="name@example.com" name="SignUpEmail">
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating Input">
                <input type="Email" class="form-control comfirmedEmail"  placeholder="name@example.com" name="ComfirmedEmail">
                <label for="floatingInput">Confirm your Email</label>
              </div>


            <div class="form-floating Input">
              <input type="password" class="form-control" placeholder="Password" name="SignUpPassword">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="Input">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
          </div>

          </form>

          <div>
            <label for="" class="SignUp">If you alredy have an account <a href="/">Sign In</a></label>
          </div>

          <p class="mt-5 mb-3 text-muted">©2021</p>
          
    </form>


    <p class="EmailError"><%= EmailError%></p>


    <%- include('footer'); -%>

    
