<div class="logUpPage">
<%- include('head'); -%>
<div class="signUpForms">
    <form action="/signup" method="post">

            <h1 class="SignIn">Sign Up</h1>
        
            <div class="form-floating Input">
              <input type="Email" class="form-control email"  placeholder="name@example.com" name="SignUpEmail" required>
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating Input">
                <input type="Email" class="form-control comfirmedEmail"  placeholder="name@example.com" name="ComfirmedEmail" required>
                <label for="floatingInput">Confirm your Email</label>
              </div>


            <div class="form-floating Input">
              <input type="password" class="form-control" placeholder="Password" name="SignUpPassword" required>
              <label for="floatingPassword">Password</label>
            </div>

            <div class="Input">
            <button class="w-100 btn btn-lg btn-primary btn-dark" type="submit">Sign Up</button>
          </div>

          </form>
          
  

          <div>
            <label for="" class="SignUp">If you alredy have an account <a href="/"> <b>Sign In</b> </a></label>
          </div>
          <p class="EmailError"><%= EmailError%></p>

  
    </form>

  </div>


    <%- include('footer'); -%>

  </div>

    
